/* SASS file for components.
*/

/* AkyuuWeb.Components.Modal */

.modal {
    overflow: hidden;

    .modal-bg {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100vw;
        height: 100vh;

        background-color: var(--modal-transparency-layer);
        z-index: 1;
    }
}

.modal-content {
    position: fixed;
    margin: 2rem auto;
    z-index: 1;
    width: 60vw;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;

    background-color: var(--modal);
    backface-visibility: hidden;

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        color: var(--modal-header-text);

        padding: 1rem;

        background-color: var(--modal-header);
        border-bottom: 3px solid var(--modal-header-border);
    }

    .modal-default {
        overflow-x: hidden;
        overflow-y: auto;
        height: 85vh;
    }
}

// For forms inside a Modal
.modal-form {
    background-color: transparent;

    .form-entry {
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border: 0px;
        gap: 0.5rem;
        flex: 1;

        input {
            color: var(--modal-form-entry-text);
            background-color: var(--modal-form-entry);
            border: 0.2rem solid var(--modal-form-entry-border);
            border-radius: 0.2rem;
            padding: 0.2rem;

            transition: all 0.2s ease;

            &:focus, &:active {
                background-color: var(--modal-form-entry-active);
                border-color: var(--modal-form-entry-border-active);
            }
        }

        input[type=number] {
            width: 5rem;
        }
    }

    .form-entry-inline {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: left;
    }
}

/* AkyuuWeb.Components.EditableField */

.editable-div {
    display: inline;
}

.editable-default {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;

    button.edit, button.save, button.reset {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
}

.editable {
    display: inline-block;

    .editable-field {
        resize: horizontal;
        min-width: 10rem;
        border-radius: 0.2rem;
        border: 0.2rem solid var(--editable-border);
        padding: 0.1rem;
        color: var(--text);
        background-color: var(--editable);

        &:hover, &:active {
            background-color: var(--editable-hover);
        }
    }

    input[type=number].editable-field {
        min-width: 2rem;
    }
}

// AkyuuWeb.Components.Card

.card {
    background-color: var(--card);
    color: var(--card-text);

    border-bottom: 2px solid var(--card-border);
    border-radius: 2px;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    .card-header {
        cursor: pointer;
        height: 1.5rem;

        background-color: var(--card);
    }

    .card-header-end {
        float: right;
    }

    .details-content {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.card-nested-1 {
    background-color: var(--card-nested-1);
    border-bottom-color: var(--card-nested-1-border);

    .card-header {
        background-color: var(--card-nested-1);
    }
}

.card-nested-2 {
    background-color: var(--card-nested-2);
    border-bottom-color: var(--card-nested-2-border);

    .card-header {
        background-color: var(--card-nested-2);
    }
}

// AkyuuWeb.Components.SortableList
.sortable-list-item {
    .drag-indicator {
        opacity: 40%;
    }

    &:hover {
        .drag-indicator {
            opacity: 80%;
        }
    }
}

.drag-indicator {
    display: block;
    width: 1rem;
    transition: all 0.2s ease-in;
}

