@media (prefers-color-scheme: light) {
    :root {
        --background: #FFF;
        --code-background: #FFFFD7;

        --text: #322;
        --text-code-hl: rgb(150, 0, 0);

        --link: rgb(0, 0, 50);
        --link-visited: rgb(0, 75, 50);
        --link-active: #EEE;
        --link-hover: #000;

        --header-background: #FAFAFA;
        --header-border: #FEF;

        --header-link: var(--link);
        --header-link-visited: var(--link-visited);
        --header-link-active: var(--link-active);
        --header-link-hover: var(--link-hover);


        --search-bar: #DDE;
        --search-bar-active: #AAF;
        --search-results: #FFF;
        --search-results-shadow: rgba(101, 119, 134, 0.2);
        --search-results-border: #AAA;

        --hr: #AAA;

        --form: #EEEEEF;
        --form-border: #AAF;

        --tooltip: #DEDEDE;

        --details: var(--form);
        --summary: var(--form);
    }

    #search-icon {
        filter: invert(1);
    }
}
