@media (prefers-color-scheme: light) {
    :root {
        $primary-0: #F8455A;
        $primary-1: #FC8D9A;
        $primary-2: #FA6475;
        $primary-3: #F5213A;
        $primary-4: #CF081F;

        $secondary-1-0: #FF8147;
        $secondary-1-1: #FFB28F;
        $secondary-1-2: #FF9666;
        $secondary-1-3: #FF6723;
        $secondary-1-4: #D74908;

        $secondary-2-0: #E13F91;
        $secondary-2-1: #F288BE;
        $secondary-2-2: #E95DA4;
        $secondary-2-3: #D51D7B;
        $secondary-2-4: #B1075D;

        $accent: $primary-0;
        $gray: #F1F1F1;

        --background: #FDD;
        --code-background: #FFFFD7;

        --text: #000;
        --text-code-hl: rgb(150, 0, 0);
        --text-shadow: #CCC;

        --audio: #{$accent};

        --input-text: #000;

        --link: rgb(0, 0, 50);
        --link-visited: rgb(0, 75, 50);
        --link-active: #EEE;
        --link-hover: #000;

        --header-background: #{$accent};
        --header-border: #{darken($accent, 10%)};

        --header-link: var(--link);
        --header-link-visited: var(--link-visited);
        --header-link-active: var(--link-active);
        --header-link-hover: var(--link-hover);

        --nav-separator: var(--header-border);
        --nav-elem: transparent;
        --nav-elem-text: var(--text);
        --nav-elem-border: var(--nav-separator);
        --nav-elem-selected: #{$secondary-2-1};

        --search-bar: #{$primary-1};
        --search-bar-active: #FFF;
        --search-bar-border: #{$primary-3};
        --search-bar-border-active: #{$secondary-2-4};
        --search-results: #FFF;
        --search-results-text: #000;
        --search-results-shadow: rgba(101, 119, 134, 0.2);
        --search-results-border: #AAA;

        --hr: var(--text);

        --form: #EEEEEF;
        --form-border: #AAF;

        --button: #{$secondary-2-0};
        --button-text: #FFF;
        --button-focus: #EEE;
        --button-focus-text: var(--button-text);
        --button-focus-border: #FFF;
        --button-hover: #{darken($secondary-2-0, 15%)};
        --button-hover-text: var(--button-text);

        --button-danger: #F00;
        --button-danger-text: #FFF;
        --button-danger-focus: #000000;
        --button-danger-focus-text: var(--button-danger-text);
        --button-danger-focus-border: var(--header-background);
        --button-danger-hover: #D00;
        --button-danger-hover-text: #FFF;

        --button-confirm: #663399;
        --button-confirm-text: var(--text);
        --button-confirm-focus: #000000;
        --button-confirm-focus-text: var(--button-confirm-text);
        --button-confirm-focus-border: var(--header-background);
        --button-confirm-hover: #000000;
        --button-confirm-hover-text: var(--button-confirm-text);

        --tooltip: #DEDEDE;

        --details: var(--form);
        --details-border: var(--form-border);
        --summary: var(--details);

        --card: #{$primary-2};
        --card-text: #000;
        --card-border: #{$secondary-1-4};
        --card-nested-1: #{$primary-1};
        --card-nested-1-border: #{$secondary-2-3};
        --card-nested-2: #{$secondary-2-2};
        --card-nested-2-border: #{$secondary-2-4};

        --editable: var(--background);
        --editable-hover: #FEFEFF;
        --editable-border: #AAF;

        --modal: var(--background);
        --modal-transparency-layer: rgb(10, 10, 10, 0.80);
        --modal-header: #{$primary-1};
        --modal-header-text: #000;
        --modal-header-border: var(--nav-separator);

        --modal-form: var(--form);
        --modal-form-entry: #FFF;
        --modal-form-entry-active: #FFF;
        --modal-form-entry-text: #000;
        --modal-form-entry-border: #{$primary-3};
        --modal-form-entry-border-active: var(--search-bar-border-active);
    }

    #search-icon {
        filter: invert(1);
    }
}
