@media (prefers-color-scheme: dark) {
    :root {
        --background: #201;
        --code-background: #1A2222;

        --text: #EEE;
        --text-code-hl: rgb(150, 0, 0);

        --header-background: #91245B;
        --header-border: #914169;
        --header-link: rgb(205, 205, 255);
        --header-link-visited: rgb(220, 220, 220);
        --header-link-active: #EEE;
        --header-link-hover: #FFF;


        --link: rgb(150, 150, 255);
        --link-visited: rgb(220, 220, 220);
        --link-active: #EEE;
        --link-hover: #FFF;

        --search-bar: #AAA;
        --search-bar-active: #CCF;
        --search-results: var(--background);
        --search-results-shadow: rgba(255, 255, 255, 0.2);
        --search-results-border: #AAA;

        --hr: #AAA;

        --form: #350e21;
        --form-border: var(--header-background);

        --details: var(--form);
        --summary: var(--form);

        --search-icon-invert-factor: 0;
    }
}
