<h1>New!</h1>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
  <label>
    Username: <%= text_input f, :username %>
  </label>

  <label>
    Email: <%= email_input f, :email %>
  </label>

  <label>
    Password: <%= password_input f, :password_hash %>
  </label>

  <%= submit "Submit" %>

<% end %>
